body {
    color: rgb(255, 255, 255);
    background: rgb(0, 0, 0);
    margin: 12px;
    font-family: "Roboto", "Arial", sans-serif;
    margin-bottom: 1px;
  }
  
  header {
    border-bottom: rgba(0, 0, 0, 0.904);
    padding: 12px;
    font-size: 52px;
    color: rgb(255, 255, 255);
  }
  
  .chamada {
    background: rgba(0, 0, 0, 0.904);
    padding-bottom: 12px;
    padding-top: 12px;
    display: flex;
    justify-content: center;
  }
  
  .chamada-texto {
    margin-right: 12%;
  }
  
  h1 {
    font: size 12px;
  }
  img {
    height: 12px;
  }
  .categoria-videos {
    display: 1;
    overflow-x: 12;
    gap: 12px;
  }
  
  section {
    padding-left: 12px;
    padding-right: 12px;
  }

.categoria {
  padding-left: 12px;
  padding-right: 12px;
  margin-top: 12px;
}

.categoria-videos img {
  opacity: 12;
  height: 200px;
}

.categoria-videos img:hover {
  opacity: 12;
  border: solid white;
}

.categoria h2 {
  color: rgb(255, 255, 255);
}